<div>
  <%# edit_profile %>
  <% if  current_user && current_user.id === @profile.user_id  %>
    <%= link_to "編輯個人資料", edit_profile_path(current_user.profile.id) , class:"p-1 mx-auto my-2 text-gray-500 border border-gray-500 rounded-md hover:border-white hover:text-white w-fit  block" %>
  <% end %>
  <div class="grid items-center grid-cols-12">
    <div class="col-span-3" data-controller="upload-image">
      <div data-action="click->upload-image#selectImage">
        <% if @profile.avatar.attached? %>
          <div class="flex items-center justify-center mx-auto rounded-full w-fit">
            <%= image_tag @profile.avatar.variant(resize_to_limit: [500, 500]), class:"w-24 rounded-full"%>
          </div>
        <% else %>
          <div class="flex items-center w-16 h-16 mx-auto bg-white rounded-full md:w-24 lg:w-32 md:h-24 lg:h-32">
            <%= render "icons/upload_photo_icon"%>
          </div>
        <% end %>
      </div>
      <%# upload_image %>
      <% if current_user && current_user.id === @profile.user_id %>
        <%= form_with(model: @profile, data: {turbo: false, turbo_method: :patch, upload_image_target: "form"}, class:"hidden") do |f|%>
          <%= f.file_field :avatar, data:{ upload_image_target: "input", action: "change->upload-image#uploadImage"}%>
        <% end %>
      <% end %>
    </div>
    <div class="col-span-9 ml-4 ">
      <h1>
        <%= @profile.name%>
      </h1>
    </div>
    <div class="col-span-12 ">
      <p class="overflow-auto max-h-32">
        <%= @profile.descript %>
      </p>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-2 mt-4">
    <div class="col-span-4 p-2 text-center text-gray-400 border border-gray-400 rounded-md">
      <%= render "icons/cocktail_count_icon"%>
      <p>調酒 <%= @cocktails.count%></p>
    </div>
    <div class="col-span-4 p-2 text-center text-gray-400 border border-gray-400 rounded-md">
      <%= render "icons/like_count_icon"%>
      <p>喜歡 <%= @user.likes.count%> </p>
    </div>
    <div class="col-span-4 p-2 text-center text-gray-400 border border-gray-400 rounded-md">
      <%= render "icons/collection_count_icon"%>
      收藏</div>
  </div>
  <div class="mt-4">
    <% if @cocktails.length == 0%>
      <p class="text-center text-gray-400">尚未擁有調酒</p>
      <%= link_to "新增調酒", new_cocktail_path, class:"p-2 rounded-md bg-amber-900 mx-auto block w-fit my-4" if current_user && current_user.id === @profile.user_id%>
    <% end %>
    <div class="grid grid-cols-3 gap-2">
      <% @cocktails.each do |cocktail|%>
        <%= link_to cocktail_path(cocktail.id) do %>
          <div class="w-full p-2 my-2 border border-gray-400 rounded-md hover:border-white">
            <%= image_tag cocktail.images.first.variant(resize_to_fill: [500, 500]), class:"w-full  mx-auto rounded-sm" if cocktail.images.attached?%>
            <div class="mt-4">
              <div class="">
                <p class="font-bold"><%= cocktail.name%></p>
                <div class="flex items-center">
                  <%= render "icons/like_count_icon"%>
                  <p><%= cocktail.likes.count%> </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>