<div>
  <%# edit_profile %>
  <div class="flex justify-center ">
    <%= link_to "編輯個人資料", edit_profile_path(current_user.profile.id) , class:"p-1 my-2 text-gray-500 border border-gray-500 rounded-md hover:border-white hover:text-white w-fit  block" if current_user && current_user.id === @profile.user_id %>
  </div>
  <div class="flex gap-2">
    <div class="w-1/2" data-controller="upload-image">
      <div data-action="click->upload-image#selectImage">
        <% if @profile.avatar.attached? %>
          <div class="flex items-center justify-center mx-auto rounded-full">
            <%= image_tag @profile.avatar.variant(resize_to_limit: [1920, 1080]), class:"w-24 rounded-full"%>
          </div>
        <% else %>
          <div class="flex items-center justify-center mx-auto bg-white rounded-full">
            <%= image_tag "upload_image.png", class:" w-24"%>
          </div>
        <% end %>
      </div>
      <%# upload_image %>
      <% if current_user && current_user.id === @profile.user_id %>
        <%= form_with(model: @profile, data: {turbo: false, turbo_method: :patch, upload_image_target: "form"}, class:"hidden") do |f|%>
          <%= f.file_field :avatar, data:{ upload_image_target: "input", action: "change->upload-image#uploadImage"}%>
        <% end %>
      <% end %>
    </div>
    <div class="w-1/2 ">
      <h1>
        <%= @profile.name%>
      </h1>
      <p class="overflow-auto max-h-32">
        <%= @profile.descript %>
      </p>
    </div>
  </div>
  <div class="mt-4">
    <% if @cocktails.length == 0%>
      <p class="text-center text-gray-400">尚未擁有調酒</p>
      <%= link_to "新增調酒", new_cocktail_path, class:"p-2 rounded-md bg-amber-900 mx-auto block w-fit my-4" if current_user && current_user.id === @profile.user_id%>
    <% end %>
    <div class="grid grid-cols-3 gap-2">
      <% @cocktails.each do |cocktail|%>
        <%= link_to cocktail_path(cocktail.id) do %>
          <div class="w-full p-2 my-2 border border-gray-400 rounded-md hover:border-white">
            <%= image_tag cocktail.images.first.variant(resize_to_fill: [500, 500]), class:"w-full  mx-auto rounded-sm" if cocktail.images.attached?%>
            <div class="mt-4">
              <div class="flex items-center justify-between">
                <h4 class="font-bold"><%= cocktail.name%></h4>
                <div class="flex items-center gap-2">
                  <%= image_tag "heart.png", class:"w-4 md:w-6 "%>
                  <p><%= cocktail.likes.count%> </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>