<div data-controller="preview-img">
  <%= form_with(model: @cocktail) do |f|%>
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true, id: "image-input", class: "w-full rounded-md", data: { target: "preview-img.input" } %>
    <div id="image-preview" class="flex gap-2"></div>
    <%= f.label :history %>
    <%= f.text_area :history, placeholder: "撰寫說明 / 製作方法", class: "w-full rounded-md text-black min-h-64" %>
    <%= f.label :name %>
    <%= f.text_field :name, class: "w-full rounded-md text-black" %>
    <%= f.label :base_wine %>
    <%= f.select :base_wine, [["Whisky","Whisky"], ["Gin", "Gin"], ["Tequila", "Tequila"], ["Vodka", "Vodka"], ["Rum", "Rum"], ["Brandy", "Brandy"]], {}, { class: "w-full rounded-md text-black" } %>
    <%= f.label :skill %>
    <%= f.select :skill, [["Build", "Build"], ["Stir", "Stir"], ["Shake", "Shake"]], {}, { class: "w-full rounded-md text-black" } %>
    <div class="p-1 my-4 text-center bg-gray-500 rounded-md">
      <%= f.submit "submit", class: "w-full" %>
    </div>
  <% end %>
</div>
