<div class="w-full ">
  <div>
    <h1 class="my-4 text-center "><%= t("root.title")%></h1>
    <h2 class="my-4 text-center "><%= t("root.sub_title")%></h2>
  </div>
  <div class="my-4">
    <%= render "search_form"%>
  </div>
  <div>
    <h3 class="font-bold ">Clasic Cocktail</h3>
    <div class="grid grid-cols-2 gap-6 md:grid-cols-3 lg:grid-cols-4 ">
      <% @classic_cocktails.each do |cocktail|%>
        <div class="w-full my-2 border rounded-md ">
          <%= link_to cocktail_path(cocktail.id) do%>
            <div class="flex items-center w-full mx-auto">
              <% if cocktail.main_image.attached? %>
                <%= image_tag cocktail.main_image, class:"rounded-t-md "%>
              <% else %>
                <%= image_tag "https://fakeimg.pl/300x300", class:"w-full rounded-t-md "%>
              <% end %>
            </div>
            <div class="flex justify-between p-2">
              <p ><%= cocktail.name%> </p>
              <button >♥</button>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
