<div>
  <h1>創意調酒</h1>
  <%= search_form_for @q, class:"flex gap-2 items-center" do |f|%>
    <%= f.search_field :name_cont, placeholder:"搜尋名稱", class:"w-full rounded-md p-2 text-black"%>
    <button>
      <%= image_tag "search.png", class:"w-8 md:w-10 lg:w-12"%>
    </button>
  <% end %>
  <div class="my-4">
    <% if @cocktials.length === 0 %>
      <h2 class="text-center "> oops! 未找到相關資料 </h2>
    <% end %>
    <div class="grid grid-cols-3 ">
      <% @cocktials.each do |cocktail|%>
        <%= link_to cocktail_path(cocktail.id) do%>
          <div class="overflow-hidden border-2 rounded border-neutral-800">
            <div>
              <%= image_tag cocktail.images.first.variant(resize_to_fill:[500, 500])%>
              <p class="mx-1 text-md md:text-2xl "><%= cocktail.name%> </p>
            </div>
            <p class="mx-1 text-sm text-gray-400 md:text-lg"><%= cocktail.user.profile.name%> </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>