<div class="w-full ">
  <div>
    <h1 class="my-4 text-center ">Tipsy Dog</h1>
    <div class="my-4 text-center">
      <h2>釋放你的創意調酒</h2>
    </div>
  </div>
  <div class="my-4 gap2">
    <%= form_tag(search_path, method: "get") do %>
      <div class="flex items-center gap-2">
        <%= text_field_tag(:search_value, params[:search_value], placeholder: "搜尋調酒名稱", class:"w-full rounded-md p-2 text-black") %>
        <%= image_submit_tag("search.png", alt: "Search", width:30) %>
      </div>
    <% end %>
  </div>
  <div class="flex justify-center gap-4 my-4">
    <%= link_to "+ 新增自己的酒譜", new_cocktail_path, class:"p-2 border  border-gray-500 rounded-md hover:border-white w-fit"%>
    <% if current_user.nil? %>
      <%= link_to new_user_registration_path, class:"flex gap-2 items-center bg-amber-900 rounded-md p-2 hover:bg-amber-800" do%>
        <%= image_tag "user.png", alt:"registration icon", class:"w-4"%>
        <p>註冊會員</p>
      <% end %>
    <% end %>
  </div>
  <div>
    <div>
      <%# 用戶創意調酒 %>
      <h3>熱門酒譜</h3>
      <div class="grid gap-2 md:grid-cols-2 lg:grid-cols-3">
        <% @cocktails.each do |cocktail|%>
          <%= link_to cocktail_path(cocktail.id) do %>
            <div class="w-full p-2 my-2 border border-gray-400 rounded-md hover:border-white">
              <%= image_tag cocktail.images.first.variant(resize_to_fill: [500, 500]), class:"w-full  mx-auto rounded-sm" if cocktail.images.attached?%>
              <div class="mt-4">
                <p><%= cocktail.user.full_name %></p>
                <div class="flex items-center justify-between">
                  <h4 class="font-bold"><%= cocktail.name%></h4>
                  <div class="flex items-center gap-2">
                    <%= image_tag "heart.png", class:"w-4 md:w-6 "%>
                    <p><%= cocktail.likes.count%> </p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div>
      <%# 官方經典調酒 %>
      <h3>經典調酒</h3>
      <div class="grid gap-2 md:grid-cols-2 lg:grid-cols-3">
        <% @classic_cocktails.each do |classic_cocktail|%>
          <%= link_to classic_cocktail_path(classic_cocktail.id) do %>
            <div class="w-full p-2 my-2 border border-gray-400 rounded-md hover:border-white">
              <p><%= classic_cocktail.name%></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
