<div class="w-full ">
  <div>
    <h1 class="my-4 text-center "><%= t("root.title")%></h1>
    <div class="my-4 text-center">
      <h3 >
        全台最大調酒知識庫
        <br>
      </h3>
    </div>
  </div>
  <div class="my-4 gap2">
    <%= render "search_form"%>
  </div>
  <div class="flex justify-center gap-4 my-4">
    <% if current_user.nil? %>
      <%= link_to new_user_registration_path, class:"flex gap-2 items-center bg-amber-900 rounded-md p-2 hover:bg-amber-800" do%>
        <%= image_tag "user.png", class:"w-4"%>
        <p>註冊會員</p>
      <% end %>
    <% end %>
    <%= link_to "+ 新增自己的酒譜", new_cocktail_path, class:"p-2 border  border-gray-500 rounded-md hover:border-white w-fit"%>
  </div>
  <div>
    <div>
      <h3>熱門酒譜</h3>
    </div>
    <div>
      <h3>經典調酒</h3>
    </div>
  </div>
</div>
