<div>
  <h2 class="text-2xl">New Cocktail</h2>
  <%= form_with(model: @cocktail) do |f|%>
    <%= f.label :main_image%>
    <%= f.file_field :main_image%>
    <%= f.label :name%>
    <%= f.text_field :name, class: "w-full rounded-md text-black"%>
    <%= f.label :introduce%>
    <%= f.text_field :introduce, class: "w-full rounded-md text-black"%>
    <%= f.label :type_of%>
    <%= f.text_field :type_of, class: "w-full rounded-md text-black"%>
    <%= f.label :history%>
    <%%>
    <%= f.label :production_method%>
    <%= f.label :drink_style%>
    <%= f.label :skill%>
    <div class="p-1 my-4 text-center bg-gray-500 rounded-md">
      <%= f.submit "submit", class:"w-full"%>
    </div>
  <% end %>
</div>