<div class="relative show_cocktail">
  <div >
    <div class="absolute flex items-center justify-between w-full -top-10 ">
      <%= link_to :back , class:"invert " do%>
        <%= image_tag "arrow_back_icon.png"%>
      <% end %>
      <% if current_user && current_user.cocktails.find_by(id: @cocktail.id) %>
        <%= link_to "edit", edit_cocktail_path(@cocktail.id), class:"text-blue-500" %>
      <% end %>
    </div>
    <% if @cocktail.images.attached? %>
      <div class=" swiper mySwiper" data-controller="swiper">
        <div class="swiper-wrapper">
          <% @cocktail.images.each do |image|%>
            <div class="swiper-slide">
              <%= image_tag image.url , class:"w-full rounded-md max-w-md mx-auto"%>
            </div>
          <% end %>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    <% else %>
      <%= image_tag "https://fakeimg.pl/300x300", class:"w-60 mx-auto rounded-md"%>
    <% end %>
  </div>
  <div class="lg:mx-4">
    <div data-controller="add-like" class="flex items-center justify-between my-4">
      <div>
        <h1 class="font-bold "><%= @cocktail.name %> </h1>
        <%= link_to @cocktail.user.profile.name, profile_path(@cocktail.user.profile.id), class:"text-gray-400 hover:text-white"%>
      </div>
      <div class="flex gap-2">
        <button 
          data-action="click->add-like#add_like"
          data-add-like-target="link"
          data-cocktail-id= <%= @cocktail.id%>
          class="flex gap-2 transition-all duration-300 ease-in-out rounded-sm hover:scale-110"
          >
          <%= render "icons/like_count_icon"%>
        </button>
        <p data-add-like-target="like_count"></p>
      </div>
    </div>
    <p class="my-4">
      <span class="font-bold ">Base :</span>
      <%= @cocktail.base_wine%>
    </p>
    <p class="my-4">
      <span class="font-bold ">Skill :</span>
      <%= @cocktail.skill%>
    </p>
    <div>
      <%= @cocktail.introduce%>
    </div>
  </div>
  <div>
    <%= render "comments/show"%>
    <%= render "comments/new"%>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
