<div class="relative show_cocktail">
  <div>
    <div class="flex items-center justify-between ">
      <%= link_to cocktails_path , class:"invert" do%>
        <%= image_tag "arrow_back_icon.png"%>
      <% end %>
      <% if current_user && current_user.cocktails.find_by(id: @cocktail.id) %>
        <%= link_to "edit", edit_cocktail_path(@cocktail.id), class:"text-blue-500" %>
      <% end %>
    </div>
    <% if @cocktail.images.attached? %>
      <div class=" swiper mySwiper" data-controller="swiper">
        <div class="swiper-wrapper">
          <% @cocktail.images.each do |image|%>
            <div class="swiper-slide">
              <%= image_tag image.url , class:"w-full rounded-md max-w-md mx-auto"%>
            </div>
          <% end %>
        </div>
        <!-- Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    <% else %>
      <%= image_tag "https://fakeimg.pl/300x300", class:"w-60 mx-auto rounded-md"%>
    <% end %>
  </div>
  <div class="lg:mx-4">
    <div class="flex items-center justify-between my-4">
      <h2 class="font-bold "><%= @cocktail.name %> </h2>
      <%= link_to add_like_path(@cocktail.id), data: {turbo_method: :post}, class:"flex gap-2 items-center" do %>
        <%= @likes%>
        <%= image_tag "heart.png", class:"w-6 md:w-8 lg:w-10 hover:scale-110"%>
      <% end %>
    </div>
    <p class="my-4">
      <span class="font-bold ">Base :</span>
      <%= @cocktail.base_wine%>
    </p>
    <p class="my-4">
      <span class="font-bold ">Skill :</span>
      <%= @cocktail.skill%>
    </p>
    <div>
      <%= @cocktail.introduce%>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
