<div class="relative lg:flex">
  <div>
    <%= link_to :back, class:"absolute top-0 left-0 -translate-y-8 invert" do%>
      <%= image_tag "arrow_back_icon.png"%>
    <% end %>
    <%= link_to "edit", edit_cocktail_path(@cocktail.id), class:"absolute right-0 top-0 -translate-y-8 text-blue-500 text-xl"%>
    <% if @cocktail.main_image.attached? %>
      <%= image_tag @cocktail.main_image, class:"w-full rounded-md max-w-md mx-auto"%>
    <% else %>
      <%= image_tag "https://fakeimg.pl/300x300", class:"w-60 mx-auto rounded-md"%>
    <% end %>
  </div>
  <div class="lg:mx-4">
    <h2 class="text-4xl font-bold"><%= @cocktail.name %> </h2>
    <p><%= @cocktail.introduce%> </p>
    <p>
      <span class="font-bold ">Type :</span>
      <%= @cocktail.type_of%>
    </p>
    <p>
      <span class="font-bold ">Base :</span>
      <%= @cocktail.base_wine%>
    </p>
    <p>
      <span class="font-bold ">Skill :</span>
      <%= @cocktail.skill%>
    </p>
    <p>
      <span class="font-bold ">Drink Style : </span>
      <%= @cocktail.drink_style%>
    </p>
    <p>
      <span class="font-bold ">History :</span>
      <%= @cocktail.history%>
    </p>
  </div>
</div>