<div class="relative lg:flex show_cocktail">
  <div>
    <%= link_to :back, class:"absolute top-0 left-0 -translate-y-8 invert" do%>
      <%= image_tag "arrow_back_icon.png"%>
    <% end %>
    <%= link_to "edit", edit_cocktail_path(@cocktail.id), class:"absolute right-0 top-0 -translate-y-8 text-blue-500"%>
    <% if @cocktail.images.attached? %>
      <% @cocktail.images.each do |image|%>
        <%= image_tag image.url , class:"w-full rounded-md max-w-md mx-auto"%>
      <% end %>
    <% else %>
      <%= image_tag "https://fakeimg.pl/300x300", class:"w-60 mx-auto rounded-md"%>
    <% end %>
  </div>
  <div class="lg:mx-4">
    <div class="flex items-end justify-between my-4">
      <h2 class="font-bold "><%= @cocktail.name %> </h2>
      <p>00 ♥</p>
    </div>
    <p class="my-4">
      <span class="font-bold ">Base :</span>
      <%= @cocktail.base_wine%>
    </p>
    <p class="my-4">
      <span class="font-bold ">Skill :</span>
      <%= @cocktail.skill%>
    </p>
    <div>
      <%= @cocktail.introduce%>
    </div>
  </div>
</div>