<div class="w-full ">
  <div class="my-12">
    <div>
      <h1 class="my-4 text-center ">Dashool</h1>
      <p class="my-4 text-xl text-center md:text-2xl xl:text-4xl ">紀錄、分享自己的調酒</p>
    </div>
    <div class="flex justify-center gap-4 my-4">
      <% if current_user.nil? %>
        <%= link_to new_user_registration_path, class:"flex gap-2 items-center bg-amber-900 rounded-md p-2 hover:bg-amber-800" do%>
          <%= image_tag "user.png", alt:"registration icon", class:"w-4"%>
          <p>註冊會員</p>
        <% end %>
        <%= link_to new_user_session_path, class:"border border-gray-500 rounded-md p-2 hover:border-white" do%>
          <p>登入</p>
        <% end %>
      <% else %>
        <%= link_to "+ 新增自己的酒譜", new_cocktail_path, class:"p-2 border  border-gray-500 rounded-md hover:border-white w-fit"%>
      <% end %>
    </div>
  </div>
  <div>
    <div>
      <%# 用戶創意調酒 %>
      <div class="flex items-center justify-between">
        <h3>熱門酒譜</h3>
        <%= link_to "所有酒譜", cocktails_path, class:"border p-1 rounded-md text-gray-500 border-gray-500 hover:border-white hover:text-white"%>
      </div>
      <div class="grid grid-cols-3 gap-2">
        <% @cocktails.each do |cocktail|%>
          <%= link_to cocktail_path(cocktail.id), class:"hover:scale-110" do %>
            <%= image_tag cocktail.images.first.variant(resize_to_fill: [500, 500]), class:"w-full  mx-auto rounded-sm" if cocktail.images.attached?%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
