<div>
  <div class="flex flex-col gap-4 mt-20">
    <h1 class="text-center ">World Cocktail Community</h1>
    <p class="text-center ">Share and record your cocktail recipe</p>
    <%= link_to "Sign Up", new_user_registration_path, class:"block bg-rose-950 w-fit p-2 mx-auto"%>
  </div>
  <div class="mt-8">
    <h2 class="text-center">Cocktails</h2>
    <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      <% @cocktails.each do |cocktail|%>
        <%= link_to cocktail_path(cocktail), class:"block" do%>
          <%= image_tag cocktail.images.first%>
          <div class="flex justify-between">
            <div class="flex gap-2">
              <%= image_tag cocktail.user.profile.avatar, class:"w-6 h-6 rounded-full" if cocktail.user.profile.avatar.present? %>
              <p><%= cocktail.user.profile.name%></p>
            </div>
            <div class="flex gap-2">
              <div class="flex gap-2">
                <%= image_tag "icons/heart.svg"%>
                <p><%= cocktail.likes.count%></p>
              </div>
              <div>
                <%= image_tag "icons/visibility.svg"%>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div>
    <h2 class="text-center">Articles</h2>
  </div>
</div>