<div class="w-full ">
  <div class="my-12">
    <div>
      <h1 class="my-4 text-center ">Dashool</h1>
      <h2 class="my-4 text-center">分享、記錄自己的調酒</h2>
    </div>
    <div class="flex justify-center gap-4 my-4">
      <% if current_user.nil? %>
        <%= link_to new_user_registration_path, class:"flex gap-2 items-center bg-amber-900 rounded-md p-2 hover:bg-amber-800" do%>
          <%= image_tag "user.png", alt:"registration icon", class:"w-4"%>
          <p>註冊會員</p>
        <% end %>
        <%= link_to new_user_session_path, class:"border border-gray-500 rounded-md p-2 hover:border-white" do%>
          <p>登入</p>
        <% end %>
      <% else %>
        <%= link_to "+ 新增自己的酒譜", new_cocktail_path, class:"p-2 border  border-gray-500 rounded-md hover:border-white w-fit"%>
      <% end %>
    </div>
  </div>
  <div>
    <div>
      <%# 用戶創意調酒 %>
      <div class="flex items-center justify-between">
        <h3>熱門酒譜</h3>
        <%= link_to "所有酒譜", cocktails_path, class:"border p-1 rounded-md text-gray-500 border-gray-500 hover:border-white hover:text-white"%>
      </div>
      <div class="grid gap-2 md:grid-cols-2 lg:grid-cols-3">
        <% @cocktails.each do |cocktail|%>
          <%= link_to cocktail_path(cocktail.id) do %>
            <div class="w-full p-2 my-2 border border-gray-400 rounded-md hover:border-white">
              <%= image_tag cocktail.images.first.variant(resize_to_fill: [500, 500]), class:"w-full  mx-auto rounded-sm" if cocktail.images.attached?%>
              <div class="mt-4">
                <p><%= cocktail.user.full_name %></p>
                <div class="flex items-center justify-between">
                  <h4 class="font-bold"><%= cocktail.name%></h4>
                  <div class="flex items-center gap-2">
                    <%= image_tag "heart.png", class:"w-4 md:w-6 "%>
                    <p><%= cocktail.likes.count%> </p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
