<div class="w-full mx-auto lg:max-w-3xl">
  <h2 ><%= t("sign_in.sign_in")%> </h2>
  <div class="flex justify-center my-12">
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= button_to omniauth_authorize_path(resource_name, provider), data: { turbo: false } do%>
        <%= image_tag "google_icon.png", class:"w-8"%>
      <% end %>
    <% end %>
  </div>
  <div class="relative my-12">
    <hr>
    <p class="absolute top-0 w-12 text-center -translate-x-1/2 -translate-y-1/2 bg-neutral-800 left-1/2">or</p>
  </div>
  <div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="my-4">
        <%= f.label :email, t("sign_in.email") %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-full rounded-md text-black" %>
      </div>
      <div class="my-4">
        <%= f.label :password, t("sign_in.password") %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"w-full rounded-md text-black" %>
      </div>
      <div class="w-full p-2 my-4 text-center rounded-md bg-amber-900">
        <%= f.submit t("sign_in.sign_in"), class:"w-full cursor-pointer" %>
      </div>
    <% end %>
    <div class="my-4">
      <%= link_to t("sign_in.forgot_your_password"), new_password_path(resource_name) %><br />
    </div>
    <div class="flex items-center gap-2 my-4">
      <p><%= t("sign_in.dont_have_an_account")%> </p>
      <%= link_to t("sign_in.sign_up"), new_registration_path(resource_name), class:"text-blue-500" %><br />
    </div>
  </div>
</div>