<div>
  <h1>經典調酒</h1>
  <div class="my-4">
    <%= search_form_for @q, class:"flex gap-2 items-end" do |f|%>
      <div>
        <%= f.label :base_wine_cont, "選擇基酒"%>
        <%= f.select :base_wine_cont, [["Gin", "Gin"], ["Whisky", "Whisky"], ["Vodka", "Vodka"], ["Brandy", "Brandy"], ["Tequila", "Tequila"], ["Rum", "Rum"]]  ,{}, class:"w-full rounded-md p-2 text-black"%>
      </div>
      <%= f.search_field :name_cont, placeholder:"搜尋名稱", class:"w-full rounded-md p-2 text-black"%>
      <button>
        <%= image_tag "search.png", class:"w-12 md:w-14 lg:w-16"%>
      </button>
    <% end %>
  </div>
  <div>
    <% if @classic_cocktails.length == 0%>
      <h2 class="text-center ">oppps! <br>
        找不到資料</h2>
    <% end %>
    <% @classic_cocktails.each do |cocktail|%>
      <%= link_to classic_cocktail_path(cocktail.id), class:"block rounded-md p-2 border my-4" do %>
        <%= cocktail.name%>
      <% end %>
    <% end %>
  </div>
</div>