<div class="show_classic_cocltail">
  <%= link_to :back, aria: {label:"back link"}, class:"w-fit block hover:scale-125" do%>
    <%= image_tag "arrow_back_icon.png", alt:"back icon"%>
  <% end %>
  <div>
    <h2>
      <%= @classic_cocktail.name%>
    </h2>
    <%= link_to "編輯", edit_classic_cocktail_path(@classic_cocktail.id), class:"text-blue-500" if current_user && current_user.role === "admin"%>
    <div class="my-4" data-controller="upload-image">
      <div data-action="click->upload-image#selectImage">
        <% if @classic_cocktail.image.attached?%>
          <%= image_tag @classic_cocktail.image%>
        <% else %>
          <%= image_tag "https://fakeimg.pl/1920x1080/", alt:"#{@classic_cocktail.name} image", class:"w-full rounded-md mx-auto md:w-10/12 lg:w-8/12 xl:w-6/12"%>
        <% end %>
      </div>
      <% if current_user && current_user.role === "admin" %>
        <%= form_with(model: @classic_cocktail, class:"hidden", data: {turbo: false, turbo_method: :patch, upload_image_target: "form"}) do |f| %>
          <%= f.file_field :image, data: { upload_image_target: "input", action: "change->upload-image#uploadImage"} %>
        <% end %>
      <% end %>
    </div>
    <div class="my-4">
      <h3>History:</h3>
      <p >
        <%= @classic_cocktail.history%>
      </p>
    </div>
    <div class="my-4">
      <h3>Ingredient:</h3>
      <%= @classic_cocktail.ingredient.gsub("\n", "<br>").html_safe%>
    </div>
    <div class="my-4">
      <h3>Skill:</h3>
      <p >
        <%= @classic_cocktail.skill%>
      </p>
    </div>
    <div class="my-4">
      <h3>Garnish:</h3>
      <p >
        <%= @classic_cocktail.garnish%>
      </p>
    </div>
    <div class="my-4">
      <h3>Glass:</h3>
      <p >
        <%= @classic_cocktail.glass%>
      </p>
    </div>
    <div class="my-4">
      <h3>Method:</h3>
      <p >
        <%= @classic_cocktail.method.gsub("\n", "<br>").html_safe %>
      </div>
    </p>
  </div>
</div>