<div data-controller="navbar" class="relative shadow-lg" >
  <div class="flex items-center justify-between overflow-auto bg-neutral-700">
    <%= link_to root_path, aria: { label: "Home" } do%>
      <%= image_tag "logo.png", alt:"logo image", class:" w-12"%>
    <% end %>
    <div data-action="click->navbar#showMenu" class="p-1 cursor-pointer" >
      <span  class="block w-8 h-1 my-2 transition-all duration-500 bg-white rounded-md "></span>
      <span  class="block w-8 h-1 my-2 transition-all duration-500 bg-white rounded-md "></span>
    </div>
  </div>
  <div data-navbar-target="menu" class="fixed top-0 right-0 z-50 w-0 h-full overflow-hidden transition-all duration-500 lg:top-12 bg-neutral-900 ">
    <div class="absolute bottom-0 w-full mb-4 lg:top-0 whitespace-nowrap ">
      <% if current_user %>
        <% if current_user.profile.nil?%>
          <%= link_to "建立個人檔案", new_profile_path, class:"my-4  block text-center"%>
        <% else %>
          <%= link_to "個人檔案", profile_path(current_user.profile.id), class:"my-4  block text-center"%>
        <% end %>
        <%= link_to t("navbar.setting"), setting_path, class:"my-4  block text-center"%>
        <%= button_to t("navbar.logout"), destroy_user_session_path, data:{ turbo: false }, method: :delete, class:" w-full "%>
      <% else %>
        <%= link_to "註冊會員", new_user_registration_path, class:"my-4   text-center block bg-amber-900 w-fit mx-auto p-2 rounded-md " %>
        <%= link_to t("navbar.login"), new_user_session_path, class:"my-4   text-center block " %>
      <% end %>
      <hr class="my-4">
      <%= link_to "所有酒譜", search_path, class:"my-4 mt-4 text-center block"%>
      <p class="my-4 text-center ">調酒知識</p>
      <p class="my-4 text-center "><%= t("navbar.about_dashool")%></p>
      <p class="my-4 text-center "><%= link_to t("navbar.cocktail_map"), cocktail_map_path%></p>
      <div data-controller="show-language" class="w-full max-w-3xl mx-auto my-4 cursor-pointer">
        <p data-action="click->show-language#show" class="w-full text-center">
          <%= t("setting.language") %>
        </p>
        <div data-show-language-target="language" class="h-0 overflow-hidden transition-all duration-300 ease-in-out">
          <div class="p-2 rounded-md bg-neutral-700">
            <%= link_to "中文", { locale: "tw" }, class: "w-full block my-4 text-center " %>
            <%= link_to "English", { locale: "en" }, class: "w-full block my-4 text-center " %>
          </div>
        </div>
      </div>
    </div>
    <button data-action="click->navbar#closeMenu" class="absolute bottom-0 p-2 lg:hidden right-3 ">X</button>
  </div>
</div>