<!DOCTYPE html>
<html>
  <head>
    <title>Dashool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# google font %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <%# google icon %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body class="bg-neutral-800 text-neutral-200">
    <%= render "layouts/navbar"%>
    <main class="container flex max-w-6xl px-5 mx-auto mt-12 ">
      <div class="w-full ">
        <p class="text-green-500"><%= notice %></p>
        <p class="text-red-500 "><%= alert %></p>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
