<!DOCTYPE html>
<html>
  <head>
    <title>Dashool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="調酒知識、技巧，紀錄自己的調酒。全台最大調酒社群。">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# swiper %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <%# favicon %>
    <%= favicon_link_tag asset_path("logo.png")%>
    <%# google font %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <%# google icon %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body class="max-w-5xl mx-auto bg-neutral-800 text-neutral-200">
    <div class="sticky top-0 z-10 bg-white ">
      <%= render "layouts/navbar"%>
    </div>
    <main class="container flex min-h-screen px-2 mx-auto mt-8 md:px-4 ">
      <div class="relative w-full ">
        <div class="absolute top-0 right-0 ">
          <p class="text-green-500"><%= notice %></p>
          <p class="text-red-500 "><%= alert %></p>
        </div>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
