<!DOCTYPE html>
<html>
  <head>
    <title>Dashool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="調酒知識、技巧，紀錄自己的調酒。全台最大調酒社群。">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# swiper %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <%# favicon %>
    <%= favicon_link_tag asset_path("icons/logo.png")%>
  </head>
  <body class="mx-auto bg-black text-neutral-200">
    <main class="flex flex-col items-center justify-center h-screen p-4">
      <div class="fixed z-10 -top-3">
        <%= render "layouts/navbar"%>
      </div>
      <div class="relative w-full ">
        <div class="bg-black rounded-md">
          <p class="text-green-500"><%= notice %></p>
          <p class="text-red-500 "><%= alert %></p>
        </div>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
