<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <title>Dashool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="The world's largest bartending community website.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# swiper %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>    <%# favicon %>
    <%= favicon_link_tag asset_path("logo.png")%>
    <%# google font %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <%# google icon %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body class="mx-auto bg-neutral-800 text-neutral-200 lg:max-w-7xl">
    <main class="container flex max-w-6xl min-h-screen px-5 mx-auto mt-8 ">
      <div class="w-full ">
        <p class="text-green-500"><%= notice %></p>
        <p class="text-red-500 "><%= alert %></p>
        <%= yield %>
      </div>
    </main>
    <div class="sticky bottom-0 ">
      <%= render "layouts/navbar"%>
    </div>
  </body>
</html>
