<!DOCTYPE html>
<html>
  <head>
    <title>Dashool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-neutral-800 text-neutral-200">
    <%= render "layouts/navbar"%>
    <main class="container flex px-5 mx-auto mt-12 ">
      <%= yield %>
    </main>
  </body>
</html>
